build
.gradle
.settings
.project
.classpath
/*/src/main/webapp/WEB-INF/lib
/*/src/main/webapp/WEB-INF/classes
bin
*.sublime-workspace
/*/src/lib
*.orig
.pmd
*.log
*.ipr
*.iws
*.iml
/*/out
/*/.idea
